# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

.DS_Store

model_precipitation_anomaly_05degree/CCSM-MARUM_pr_anom_05degree.nc

model_precipitation_anomaly_05degree/CCSM-NCAR_pr_anom_05degree.nc

model_precipitation_anomaly_05degree/CM2Mc_pr_anom_05degree.nc

model_precipitation_anomaly_05degree/COSMOS-S_pr_anom_05degree.nc

model_precipitation_anomaly_05degree/COSMOS-W_pr_anom_05degree.nc

model_precipitation_anomaly_05degree/HadCM3_pr_anom_05degree.nc

model_precipitation_anomaly_05degree/IPSL_pr_anom_05degree.nc

model_precipitation_anomaly_05degree/MIROC-S_pr_anom_05degree.nc

model_precipitation_anomaly_05degree/MIROC-W_pr_anom_05degree.nc

model_precipitation_anomaly_50km_ena/CCSM-MARUM_pr_anom_50km_ena.nc

model_precipitation_anomaly_50km_ena/CCSM-NCAR_pr_anom_50km_ena.nc

model_precipitation_anomaly_50km_ena/CM2Mc_pr_anom_50km_ena.nc

model_precipitation_anomaly_50km_ena/COSMOS-S_pr_anom_50km_ena.nc

model_precipitation_anomaly_50km_ena/COSMOS-W_pr_anom_50km_ena.nc

model_precipitation_anomaly_50km_ena/HadCM3_pr_anom_50km_ena.nc

model_precipitation_anomaly_50km_ena/IPSL_pr_anom_50km_ena.nc

model_precipitation_anomaly_50km_ena/MIROC-S_pr_anom_50km_ena.nc

model_precipitation_anomaly_50km_ena/MIROC-W_pr_anom_50km_ena.nc

model_temperature_anomaly_05degree/CCSM-MARUM_tas_anom_05degree.nc

model_temperature_anomaly_05degree/CCSM-NCAR_tas_anom_05degree.nc

model_temperature_anomaly_05degree/CM2Mc_tas_anom_05degree.nc

model_temperature_anomaly_05degree/COSMOS-S_tas_anom_05degree.nc

model_temperature_anomaly_05degree/COSMOS-W_tas_anom_05degree.nc

model_temperature_anomaly_05degree/HadCM3_tas_anom_05degree.nc

model_temperature_anomaly_05degree/IPSL_tas_anom_05degree.nc

model_temperature_anomaly_05degree/MIROC-S_tas_anom_05degree.nc

model_temperature_anomaly_05degree/MIROC-W_tas_anom_05degree.nc

model_temperature_anomaly_50km_ena/CCSM-MARUM_tas_anom_50km_ena.nc

model_temperature_anomaly_50km_ena/CCSM-NCAR_tas_anom_50km_ena.nc

model_temperature_anomaly_50km_ena/CM2Mc_tas_anom_50km_ena.nc

model_temperature_anomaly_50km_ena/COSMOS-S_tas_anom_50km_ena.nc

model_temperature_anomaly_50km_ena/COSMOS-W_tas_anom_50km_ena.nc

model_temperature_anomaly_50km_ena/HadCM3_tas_anom_50km_ena.nc

model_temperature_anomaly_50km_ena/IPSL_tas_anom_50km_ena.nc

model_temperature_anomaly_50km_ena/MIROC-S_tas_anom_50km_ena.nc

model_temperature_anomaly_50km_ena/MIROC-W_tas_anom_50km_ena.nc

resolution_sensitivity/100km/model_precipitation_anomaly_100km_ena/CCSM-MARUM_pr_anom_100km_ena.nc

resolution_sensitivity/100km/model_precipitation_anomaly_100km_ena/CCSM-NCAR_pr_anom_100km_ena.nc

resolution_sensitivity/100km/model_precipitation_anomaly_100km_ena/CM2Mc_pr_anom_100km_ena.nc

resolution_sensitivity/100km/model_precipitation_anomaly_100km_ena/COSMOS-S_pr_anom_100km_ena.nc

resolution_sensitivity/100km/model_precipitation_anomaly_100km_ena/COSMOS-W_pr_anom_100km_ena.nc

resolution_sensitivity/100km/model_precipitation_anomaly_100km_ena/HadCM3_pr_anom_100km_ena.nc

resolution_sensitivity/100km/model_precipitation_anomaly_100km_ena/IPSL_pr_anom_100km_ena.nc

resolution_sensitivity/100km/model_precipitation_anomaly_100km_ena/MIROC-S_pr_anom_100km_ena.nc

resolution_sensitivity/100km/model_precipitation_anomaly_100km_ena/MIROC-W_pr_anom_100km_ena.nc

resolution_sensitivity/100km/model_temperature_anomaly_100km_ena/CCSM-MARUM_tas_anom_100km_ena.nc

resolution_sensitivity/100km/model_temperature_anomaly_100km_ena/CCSM-NCAR_tas_anom_100km_ena.nc

resolution_sensitivity/100km/model_temperature_anomaly_100km_ena/CM2Mc_tas_anom_100km_ena.nc

resolution_sensitivity/100km/model_temperature_anomaly_100km_ena/COSMOS-S_tas_anom_100km_ena.nc

resolution_sensitivity/100km/model_temperature_anomaly_100km_ena/COSMOS-W_tas_anom_100km_ena.nc

resolution_sensitivity/100km/model_temperature_anomaly_100km_ena/HadCM3_tas_anom_100km_ena.nc

resolution_sensitivity/100km/model_temperature_anomaly_100km_ena/IPSL_tas_anom_100km_ena.nc

resolution_sensitivity/100km/model_temperature_anomaly_100km_ena/MIROC-S_tas_anom_100km_ena.nc

resolution_sensitivity/100km/model_temperature_anomaly_100km_ena/MIROC-W_tas_anom_100km_ena.nc
